servername='SMPP server'
app_name='SMPP ESME'

smsc_host='smscsim.smpp.org'
smsc_port=2775
smsc_system_id='gs4ITii6wu1kJBL'
smsc_password='FpSK3c4c'
source_addr='My EMSE'

listening_host='0.0.0.0'
listening_port=8383

redis_host='127.0.0.1'
redis_port=6379
redis_password=''
redis_sent_key='smpp:is_sent'
redis_delivered_key='smpp:is_delivered'

log_path='/home/{user}/smpp-client/logs'